h1 {
    height: 200px;
    color: #ffffff;
    padding:2em;
    background-image: url(../css/img/encripción.jpg);
    background-size: 100%;
}

body {
    font-family: 'Sunflower', sans-serif;
}

#encode {
    display: inline-block;
    position: relative;
}

#decode {
    display: inlineblock;
    position: relative;
}

#btn-cifrar {
    display: block;
    position: absolute;
    right: 0;
}

#btn-decifrar {
    display: block;
    position: absolute;
    right: 0;
}